<form method="post" action="{{ path('app_plateformes_delete', {'id': plateforme.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plateforme.id) }}">
    <button class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></button>
</form>
