{% extends 'base.html.twig' %}

{% block title %}Plateforme{% endblock %}

{% block body %}
    <div class="col-sm-8">
    <section class="panel">
    <div class="chat-room-head">
    <h3><i class="fa fa-angle-right"></i> Détails Plateforme</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ plateforme.id }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ plateforme.libPlateforme }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_plateformes_index') }}">Retour à la liste</a>
        <a href="{{ path('app_plateformes_edit', {'id': plateforme.id}) }}">Modifier</a>
    </div>
    </section>
    </div>
{% endblock %}
