<body>
  <section id="container">
    <!-- HEADER -->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <a href="index.php" class="logo"><b>Ago<span>rA</span></b></a>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
      {% if (session.idUtilisateur is defined) %}
        <a href="" class="userAgo"> {{ session.prenomUtilisateur }} {{ session.nomUtilisateur }}</a>
          <li><a class="logout" href="index.php?uc=deconnexion&action=demanderDeconnexion">Se déconnecter</a></li>
        {% else %}
        <li><a class="logout" href="index.php?uc=connexion&action=demanderConnexion">Se connecter</a></li>
      {% endif %}
        </ul>
      </div>
    </header>

    {% block menu %}
      {% if (session.idUtilisateur is defined) %}
        {{ include('menu.html.twig') }}
      {% endif %}
    {% endblock %}

    <section id="main-content">
      <section class="wrapper">
    {% block central %}
    {% endblock %}
      </section>
  </section>

  <footer class="site-footer">
    <div class="text-center">
      <p>Crée par Logma avec le template bootstrap Dashio :
        &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
      </p>
      <div class="credits">
        Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
      <a href="index.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  </section>

  <!-- js placed at the end of the document -->
  <script src="web/lib/jquery/jquery.min.js"></script>
  <script src="web/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="web/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="web/lib/jquery.scrollTo.min.js"></script>
  <script src="web/lib/common-scripts.js"></script>
  <script src="web/lib/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="web/lib/fullcalendar/fullcalendar.min.js"></script>
  <script src="web/lib/calendar-conf-events.js"></script>
  <script src="web/libAgora/sha512.js"></script>

</body>

</html>
